# caches
__pycache__
.ruff_cache

# checkpoints
checkpoints

# configs
config/*
!config/defaults.yaml

# IDE configurations
.idea
.vscode

# logs
out
multirun

# data files
*.npy
*.pkl

# output files
*.json
*.png
*.pt

# big files
lib/datasets/product/data_X.csv
lib/datasets/product/data_Y.csv
lib/datasets/product/sample_submission.csv
lib/datasets/sensor/