# caches
__pycache__
.ruff_cache

# checkpoints
checkpoints

# configs
config/*
!config/defaults.yaml

# IDE configurations
.idea
.vscode

# logs
out
multirun

# data files
*.npy
*.pkl

# output files
*.csv
*.json
*.png
*.pt
